<!-- templates/articles/new.html -->
{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Update</h1>
    <form action="{% url 'movies:update' movie.pk%}" method="POST">
        {% csrf_token %}
        <label for="title">영화제목</label>
        <input type="text" name="title"><br>
        <label for="title_en">영문제목</label>
        <input type="text" name="title_en"><br>
        <label for="audience">누적 관객수</label>
        <input type="number" name="audience"><br>
        <label for="date">개봉일</label>
        <input type="date" name="open_date"><br>
        <label for="genre">장르</label>
        <input type="text" name="gerne" ><br>
        <label for="watch_grade">관람등급</label>
        <input type="text" name="watch_grade"><br>
        <label for="score">평점</label>
        <input type="number" name="score"><br>
        <input type="text" name="poster_url"><br>
        <textarea name="description" id="" cols="30" rows="10"></textarea><br>
        <input type="submit" value="submit">
    </form>
{% endblock %}